.main {
    height: 360px;
    width: 80%;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    background-color: rgba(255,255,255,0.6);
    border-radius: 10px;
}

body {
    background-image: url('https://i.pinimg.com/originals/97/e9/42/97e942ce7fc4e9d4ea6d844a382f251f.gif');
    background-size: cover;
    background-position: center;
    background-color: #000000;
}

#Zegaros {
    font-size: 50px;
    font-family: 'Arial' sans-serif;
    text-align: center;
    margin: 55px;
    color: #ff00dc;
    top: 50%;
    left: 50%;
}

.middle {
    height: 360px;
    width: 50%;
    padding: 10px;
    position: absolute;
    transform: translate(-50%, 100%);
    top: 50%;
    left: 50%;
    background-color: rgba(255,255,255,0.6);
}
